version: '3.8'

services:
  db:
    image: postgres:latest
    container_name: mvc
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=1234
      - POSTGRES_DB=mvc
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5434:5432"
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: bridge
